/*default style*/
* {
    user-select: none;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto; /*hidden*/
}

body {
    background-color: #1C1D25;
    width: 100%;
    overflow-x: hidden;
}

img {
    border-style: none;
    max-width: 100%;
}
/*default style*/