/*default style*/
* {
    user-select: none;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    height: 100vh;
    scroll-behavior: smooth;
    
}

body {
    background-color: #1c1d25;
    background-image: url("../images/concrete-wall.png");
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto; /*hidden*/
}

img {
    border-style: none;
    max-width: 100%;
}
/*default style*/