/*here it goes my "desktop media querie" to make this nightmare more easy uwu</3*/
@media (min-width : 850px) {
    .header {
        background-color: #733F5E;
        width: 100%;
        height: 4vw;
        z-index: 1;
    }

    .bg-header {
        position: absolute;
        width: 100%;
        height: 4vw;
        z-index: 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    .flex-container-header h1 {
        display: inline;
        position: absolute;
        top: 0em;
        font-family: "Roboto";
        left: -2.5vw;
        margin-top: 0.2vw;
        font-size: 2.7vw;
        font-weight: 500;
        color: #E5E9F0;
        z-index: 30;
        width: 25vw;
        height: 2vw;
        align-items: center;
        text-align: center;
        background-color: #733F5E;
    }

    .menu-button {
        display: none;
    }

    .navegation {
        z-index: 35;
        display:flex;
        position: absolute;
        flex-direction: row;
        height: 4vw;
        align-items: center;
        right: 2vw;
    }

    .nav-buttons {
        font-weight: 200;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 2vw;
        font-family: "Roboto";
        color: #E5E9F0;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) 
    }

    .nav-buttons:hover {
        filter: brightness(0.9);
    }

    .nav-buttons:active {
        filter: brightness(0.8);
        text-shadow: 0 0 0 rgba(0, 0, 0, 0) 
    }

    .flex-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo-principal {
        margin: 7vh;
        height: 40vh;
    }

    .title-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .name{
        margin-top: -3vh;
        font-size: min(10vh, 70px);
        font-family: "Roboto";
        font-weight: 400;
        color: #E5E9F0;
    }

    .subtitle {
        margin-top: 0.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
        height: 2vw;
    }

    .subtitle div{
        margin-left: 1vw;
        margin-right: 1vw;
        height: 0.22vw;
        width: 6vw;
        border-radius: 10vw;
        background-color: #e5e9e5;
    }

    .subtitle-text {
        text-align: center;
        font-family: "Roboto";
        font-weight: 200;
        font-size: 2rem;
        color: #e5e9e5;
    }

    .contact {
        margin: 4vh;
        height: 3.2em;
        width:9em;
        border: 3px solid #E15D8D;
        font-size: 1.4em;
        font-family: "Roboto";
        color: #E15D8D;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contact:hover {
        background-color: #E15D8D;
        color: #234462;
    }

    .contact:active {
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    
    .about-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-me{
        display: flex;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height:18vw;
        justify-content: center;
        align-items: center;
        margin: 5em;
        margin-top: 20vw;
        margin-bottom: 3vw;
        flex-direction: row;
        flex-direction: column;
    }

    .about-me div {
        display: none;
    }

    .about-me h1 {
        z-index: 30;
        align-self: flex-start;
        color: #C96567;
        font-weight: 500;
        margin-top: 4vw;
        margin-left: 3.5vw;
        font-family: "Roboto Mono";
        font-size: 7vw;
    }
    
    .about-bg-desk {
        margin-top: 10vw;
        position: absolute;
        height: 45vw;
        left: -10vw;
    }
    
    .about-me p {
        text-align: left;
        width: min(60vw,40%);
        align-self: flex-start;
        margin-left: 4vw;
        font-weight: 400;
        margin-top: 0.5vw;
        font-size: min(1.3vw, 50000px);
        font-family: "Roboto Mono";
        color: #E5E9F0;
        z-index: 100;
    }
    
    .read-more {
        margin-top: 5vw;
        margin-left: 32vw;
        align-self: flex-start;
        z-index: 30;
        width: 13%;
        height: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        background-color: #22394E;
        font-family: "Roboto Mono";
        font-size: 2vw;
        color: #C96567;
        border: 2px solid #C96567;
        border-radius: 8px;
        transition: 0.2s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .read-more:hover {
        background-color: #C96567;
        color: #234462;
    }

    .read-more:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    .desktop-techs {
        margin-top: 25vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #764D65;
        width: 100%;
        height: 15vw;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .logo-tech {
        width: 12vw;
        margin: 1vw;
        transition: 0.3s;
        filter: brightness(0.5);
    }

    .logo-tech:hover {
        width: 14vw;
        filter: brightness(0.9);
    }

    .logo-tech:active {
        filter: brightness(0.8);

    }

    .tech-scroller {
        display: none;
    }

    .instruction-desk {
        margin-top: 1.5vw;
        font-family: "roboto";
        font-size: 1.5vw;
        text-align: center;
        font-weight: 400;
        width: 59vw;
        color: #748492;
    }
    .or-desk {
        color: #748492;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 1.5vw;
        margin: 1vw;
        margin-top: 0.4vw;
    }

    .portfolio-desk {
        width: 14vw;
        height: 6vw;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        background-color: #234462;
        font-family: "Roboto Mono";
        font-size: 1.3vw;
        color: #E15D8D;
        border: 2px solid #E15D8D;
        border-radius: 8px;
        transition: 0.2s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }    
    .portfolio-desk:hover {
        background-color: #E15D8D;
        color: #234462;
    }

    .portfolio-desk:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    .blog-svg {
        display: none;
    }

    .blog-svg-2 {
        margin: 0 auto;
        margin-top: 17vw;
        border-radius: 30px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        width: 80vw;
        height: 39.1vw;
    }
    .blog {
        margin: auto auto;
        display: flex;
        width: 80%;
        height: 60vw;
        justify-content: flex-start;
    }

    .blog h1 {
        position: absolute;
        z-index: 10;
        font-size: 3.4vw;
        text-align: start;
        font-family: 'Source Serif Pro', serif;
        margin-top: 21.5vw;
        margin-left: 6vw;
        font-weight: 400;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        color: #000000;
    }
    
    .blog p {
        width: 50vw;
        position: absolute;
        text-align: start;
        z-index: 10;

        font-size: 2.5vw;
        font-weight: 200;
        font-family: 'Source Serif Pro', serif;
        margin-top: 27.5vw;
        margin-left: 6vw;
        color: #000000;
    }

    .blog div {
        user-select: none;
        transition: 0.1s;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        height: 6.5vw;
        font-weight: 400;
        width: 25vw;
        z-index: 10;
        position: absolute;
        margin-top: 44vw;
        margin-left: 11vw;
        border: 2px solid #000000;
        border-radius: 2vw;
        font-family: "Source Serif Pro", sans-serif;
        font-size: 2vw;
        color: #000000;
        text-decoration: none;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    }

    .blog div:hover {
        filter: brightness(0.9)
    }

    .blog div:active {
        filter: brightness(0.7);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }

    footer {
        margin-top:7vh;
        z-index: 30;
        position:absolute;
        width: 100%;
    }

    .footer-bg {
        display: none;
    }

    .footer-bg-2 {
        margin-top: -23vw;
        width: 100%;
        height: 40vw;
        z-index: 1;
    }

    .complete-svg {
        margin-top: -2vw;
        width: 100%;
        height: 3vw;
        background-color: #1C2730;
        z-index: 1;
    }

    .section-1 {
        width: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 4vw;
    }

    .footer-logo {
        top: 7vw;
        z-index: 10;
        position: relative;
        margin: 0 auto;
    }

    .find-me {
        display: none;
    }

    .footer-div-found {
        align-self: center;
        position: relative;
        height: 0.15vw;
        border-radius: 5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        top: 7vw;
        width: 30vw;
        background-color: #98B8D2;

    }

    .fd-me {
        top: 7.5vw;
        position: relative;
        display: flex;
        z-index: 2;
        width: 19vw;
        height: 4.5vw;
        align-self: center;
        justify-content: center;
    }

    .fd-me div {
        margin: 1vw;
        margin-top: 0;
        transition: 0.2s;
        
    }

    .fd-me div:hover {
        filter: brightness(0.8);
    }

    .fd-me div:active {
        filter: brightness(0.5);
    }

    .made-in{
        display: inline;
        width: 25vw;
        font-family: "Roboto";
        font-weight: 200;        
        text-align: center;
        align-self: center;
        position: relative;
        bottom: -9vw;
        color: #748492;
        z-index: 10;
        font-size: 1.5vw;
    }
    .v{
        display: inline;
        width: 25vw;
        font-family: "Roboto";
        font-weight: 200;        
        text-align: center;
        align-self: center;
        position: relative;
        bottom: -9vw;
        color: #98B8D2;
        z-index: 10;
        font-size: 1.2vw;
    }
}