@media (min-width: 600px) {
    .nav {
        position: absolute;
        right: 0;
        transition: 0.3s;
        width:auto;
        height: 4vw; /*0vh*/
        margin-right: 1vw;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .nav-button div {
        transition: 0.3s;
    }
    
    .nav div {
        position: relative;
        text-decoration: none;
        top: 0;
        color: #DBDCE4;
        font-family: "Roboto";
        font-size: 1.5vw;
        text-align: center;
        margin: 1vw;
        font-weight: 300;
        width:auto;
        height: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav div:hover {
        cursor: pointer;
        font-size: 2vw;
    }
    
    .nav div p {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        border: 0 solid rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        transition: 0.2s;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    
    .nav div p:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        filter: brightness(0.5);
    }
    
    .section-1 {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #15161C;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .nav-button {
       display: none;
    }
    
    .nav-button:active {
        filter: brightness(0.8);
    }
    
    .nav-button div{
        margin: 0.3vw;
        height: 0.2vw;
        width: 3vw;
        border-radius: 1vw;
        background-color: #DBDCE4;
    }
    
    .section-1 h1 {
        font-family: "Oswald";
        transition: 0.4s;
        color: #ffffff;
        margin-top:0vh;
        font-family: "Oswald";
        font-size: min(5vw, 110px);
        font-weight: 400;
        -webkit-text-stroke: 1px #ffffff;
        margin-bottom: -1.5vw;
    }
    
    .section-1 h2{
        text-align: center;
        width: 100%;
        transition: 0.4s;
        color: #DC486A;
        font-family: "Oswald";
        font-weight: 400;
        font-size: min(3vw, 80px);
        margin-bottom: 0;
    }

    #section-2-mobile {
        display: none;
    }

    .section-2 {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #section-2-desktop {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    #section-2-desktop h1 {
        text-align:start;
        color: #ffffff;
        font-family: "Oswald";
        font-size: min(3vw, 90px);
        font-weight: 400;
        -webkit-text-stroke: 1px #ffffff;
    }

    .section-elements {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    .div-line {
        width: 30vw;
        margin-top: -0.3em;
        height: 0.2vw;
        background-color: #DC486A;
        border-radius: 10vw;
        margin-bottom: 3vh;
    }
    
    #section-2-desktop h1 span {
        color: #DC486A;
        font-family: "Oswald";
        font-size: min(3.5vw, 90px);
        font-weight: 400;
        -webkit-text-stroke: 1px #DC486A;
    }
    
    #section-2-desktop img {
        height: 15vw;
        margin-right: 4vw;
    }
    
    #section-2-desktop p {
        text-align: left;
        display: inline;
        font-family: "Roboto Mono";
        color: #DBDCE4;
        font-size: min(1vw, 30px);
        width: 48vw;
    }
    
    #section-2-desktop span {
        font-size:1.2vw;
        color:#DC486A;
    }
    
    .read-more {
        margin-top: 7vh;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 1.2vw;
        align-items: center;
        font-family: "Roboto Mono";
        color: #DC486A;
        border: 2px solid #DC486A;
        border-radius: 0.5vw;
        height: 3.5vw;
        width: 8vw;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    }
    
    .read-more:hover {
        cursor: pointer;
        color: #15161C;
        background-color: #DC486A;
    }
    
    .read-more:active {
        filter: brightness(0.5);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    
    /*---------------------------------------------------------------------------------------------*/
    .section-3 {
        margin-top: 0vh;
        position: relative;
        scroll-snap-align: center;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .title-section-3 {
        position: relative;
        transition: 0.8s;
        color: #ffffff;
        font-family: "Oswald";
        font-size: min(8.5vw, 90px);
        font-weight: 400;
        margin-bottom: 0;
        -webkit-text-stroke: 1px #ffffff;
    
    }
    
    .back {
        transition: 0.1s;
    }
    
    .back:active {
        filter: brightness(0.4);
    }

    .scroller-background {
        display: none;
    }
    
    .divisor {
        display: none;
    }

    .background-tech {
        background-color: #323444;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 25%;
        justify-content: center;
        align-items: center;
    }

    .background-tech img{
        height: 19vh;
        margin: 1.5vw;
        border-radius: 1vw;
        transition: 0.3s;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25)
    }

    .background-tech img:hover{
        cursor: pointer;
        height: 22vh;
        margin: 1.5vw;
        border-radius: 1vw;
        box-shadow: 0 6px 6px rgba(0,0,0,0.25)
    }

    .background-tech img:active{
        filter: brightness(0.6);
        box-shadow: 0 0px 0px rgba(0,0,0,0)
    }

    .slider-instruction {
        margin-top: 1vw;
        font-family: "roboto";
        font-size: 1.5vw;
        text-align: center;
        font-weight: 300;
        width: 59vw;
        color: #748492;
    }
    
    .or {
        font-family: "roboto";
        margin: 0vw;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
        font-size: 1.3vw;
        text-align: center;
        font-weight: 400;
        color: #748492;
    }
    
    .portfolio {
        display: flex;
        justify-content: center;
        font-size: 1.2vw;
        font-weight: 400;
        align-items: center;
        text-align: center;
        font-family: "Roboto Mono";
        color: #DC486A;
        border: 0.15vw solid #DC486A;
        border-radius: 1vw;
        padding: 2vw;
        width: 14vw;
        height: 5.5vw;
        transition: 0.2s;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    }
    
    .portfolio:hover {
        cursor: pointer;
        background-color: #DC486A;
        color: #15161C;
    }

    .portfolio:active {
        background-color: #DC486A;
        color: #15161C;
        filter: brightness(0.5);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .section-4 {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #15161C;
        box-shadow: 0 6px 4px rgba(0,0,0,0.25);
        border-top: 2px solid #DC486A;
        border-bottom: 2px solid #DC486A;
    }
    
    .all-services {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    #services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 1vw;
        border: 2px solid #DC486A;
        padding: 1vw; 
        border-radius: 1vw;
    }
    
    #services div {
        margin: 3vw;
        border-radius: 5vw;
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    
    .divisor-line{
        margin-top: 1.8em;
        width: 20vw;
        height: 0.15vw;
        padding: 0;
        border-radius: 100vw;
        background-color: #DC486A;
        margin-bottom: 1em;
    }
    
    .section-4 h1 {
        font-family: "Oswald";
        color: #DC486A;
        text-align: center;
        font-weight: 400;
        font-size: 4vw;
        margin-top: -0.5em;
        width: 50vw;
        height: 7vh;
    }
    
    #services h2 {
        text-align: center;
        font-family: "Oswald";
        color: #DC486A;
        font-weight: 300;
        margin-top: -0.5vh;
        height: 5vh;
        width: 100%;
        font-size: 1.7vw;
        margin-bottom: 0em;
    }
    
    #services img {
        height: 4vh;
    }
    
    #services p {
        margin-top: 0.3vh;
        text-align: center;
        font-family: "Roboto Mono";
        width: 25vw;
        font-weight: 200;
        color: #DBDCE4;
        font-size: 1.2vw;
    }

    .section-5 {
        scroll-snap-align: center;
        width: 100%;
        height: 80vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .section-5 h1 {
        margin-bottom: 2vw;
        font-family: "Oswald";
        font-size: 4vw;
        height: 4vw;
        color: #DC486A;
        font-weight: 400;
    }
    
    .section-5 p:first-of-type {
        font-family: "Roboto Mono";
        color: #DBDCE4;
        text-align: center;
        width: 30vw;
        font-size: 1.2vw;
    }
    
    .section-5 p:last-of-type {
        margin: 0.4vw;
        font-family: "Roboto Mono";
        color: #8184A0;
        text-align: center;
        width: 85vw;
        font-size: 1vw;
        margin-bottom: 3vw;
    }
    
    .section-5 div {
        display: flex;
        justify-content: center;
        font-size: 1.2vw;
        font-weight: 400;
        align-items: center;
        text-align: center;
        font-family: "Roboto Mono";
        color: #DC486A;
        border: 0.15vw solid #DC486A;
        border-radius: 1vw;
        padding: 2vw;
        width: 14vw;
        height: 5.5vw;
        transition: 0.2s;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    }
    
    .section-5 div:hover {
        cursor: pointer;
        background-color: #DC486A;
        color: #15161C;
    }

    .section-5 div:active {
        background-color: #DC486A;
        color: #15161C;    
        filter: brightness(0.5);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
}