/*default style*/
* {
    user-select: none;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #15161C;
    width: 100%; 
}

img {
    border-style: none;
    max-width: 100%;
}
/*default style*/

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.section-1 {
    scroll-snap-align: center;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #1C1D25;
    align-items: center;
    flex-direction: column;
}

.section-1 h1 {
    margin-top: 40vh;
    color: #ffffff;
    font-family: "Oswald";
    font-size: min(15vw, 110px);
    font-weight: 400;
    -webkit-text-stroke: 1px #ffffff;
    margin-bottom: -3.3vw;
}

.section-1 h2{
    color: #DC486A;
    font-family: "Oswald";
    font-weight: 400;
    font-size: min(7.5vw, 80px);
    margin-bottom: 39vh;
}

.section-2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2 h1 {
    color: #ffffff;
    font-family: "Oswald";
    font-size: min(8.5vw, 90px);
    font-weight: 400;
    -webkit-text-stroke: 1px #ffffff;
}

.section-2 img {
    margin: 5vh;
    height: 30vh;
}

.section-2 p {
    text-align: center;
    display: inline;
    font-family: "Roboto Mono";
    color: #DBDCE4;
    font-size: min(4vw, 30px);
    width: 88%;
}

.section-2 span {
    font-size:5.5vw;
    color:#DC486A;
}

.read-more {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    align-items: center;
    font-family: "Roboto Mono";
    color: #DC486A;
    border: 0.5vw solid #DC486A;
    border-radius: 2vw;
    height: 15vw;
    width: 35vw;
}

.read-more:active {
    color: #15161C;
    background-color: #DC486A;
}

.section-3 {
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3 h1 {
    margin-top: -5vw;
    color: #ffffff;
    font-family: "Oswald";
    font-size: min(8.5vw, 90px);
    font-weight: 400;
    margin-bottom: 5vw;
    -webkit-text-stroke: 1px #ffffff;

}

.scroller-background {
    position: absolute;
    border-radius: 7vw;
    background-color: #323444;
    width: 60vw;
    height: 60vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*slider*/
.swiper-pagination {
    top: 42vw;
}

.swiper-pagination .swiper-pagination-bullet {
    height: 2vw;
    width: 2vw;
}

.swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 100%;
    color: #646886;
    background-color: #17171E;
    height: 2vw;
    width: 2vw;
    opacity: 1;
}

.divisor {
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    height: 15vw;
    width: 100%;
    display: flex;
    
}

.swiper-container {
    margin-left: 30vw;
    margin-top: 5vw;
    width: 100%;
    height: 53vw;
    display: flex;
}

.swiper-slide {
    display: flex;
}

.swiper-slide img {
    border-radius: 5vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 38vw;
    transition: 0.1s;
}

.swiper-slide img {
    transform: scale(0.8);
}

.swiper-slide-active img{
    transform: scale(1);
}

.swiper-slide-active img:active{
    filter: brightness(0.5);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    transform: scale(1);
}
/*slider*/

.slider-instruction {
    margin-top: 25vw;
    font-family: "roboto";
    font-size: 4vw;
    text-align: center;
    font-weight: 300;
    width: 59vw;
    color: #748492;
}

.or {
    font-family: "roboto";
    margin: 3vw;
    margin-top: 2vw;
    font-size: 4vw;
    text-align: center;
    font-weight: 400;
    color: #748492;
}

.portfolio {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    align-items: center;
    text-align: center;
    font-family: "Roboto Mono";
    color: #DC486A;
    border: 0.7vw solid #DC486A;
    border-radius: 2vw;
    padding: 2vw;
    width: 35vw;
    transition: 0.2s;
}

.portfolio:active {
    background-color: #DC486A;
    color: #15161C;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

}

.section-4 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-4 h1 {
    margin-bottom: 2vw;
    font-family: "Oswald";
    font-size: 13vw;
    color: #DC486A;
    font-weight: 400;
}

.section-4 p:first-of-type {
    font-family: "Roboto Mono";
    color: #DBDCE4;
    text-align: center;
    width: 85vw;
    font-size: 4.45vw;
}

.section-4 p:last-of-type {
    margin: 2.2vw;
    font-family: "Roboto Mono";
    color: #8184A0;
    text-align: center;
    width: 85vw;
    font-size: 3.5vw;
}

.section-4 div {
    margin-top: 7vw;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    align-items: center;
    text-align: center;
    font-family: "Roboto Mono";
    color: #DC486A;
    border: 0.7vw solid #DC486A;
    border-radius: 2vw;
    padding: 2vw;
    width: 35vw;
    height: 15vw;
    transition: 0.2s;

}

.section-4 div:active {
    background-color: #DC486A;
    color: #15161C;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

}

footer {
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(360deg, #0D0D11 5%, rgba(26, 27, 35, 0) 80%);
}

.footer-logo {
    margin-top:8vh;
    width: 60vw;
    margin-bottom: 5vh;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 3.2vh;
    font-weight: 300;
    width: 100%;
    height: 7.5vh;
    border-top: 0.5px solid #A5A7BB;
    color: #A5A7BB;
    transition: 0.1s;
}

#hlink {
    border: 0.5px solid #A5A7BB;
    border-left: 0;
    border-right: 0;
}

.link:active {
    color: #818394;
}

.blog {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    font-size: 7vw;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-family: "Roboto";
    color: #DC486A;
    border: 0.7vw solid #DC486A;
    border-radius: 3vw;
    padding: 2vw;
    width: 40vw;
    height: 14vw;
    transition: 0.2s;
    margin-bottom: 12vw;
}

.blog:active {
    color: #0D0D11;
    background-color: #DC486A;
}

.pages img {
    margin: 2vw;
    height: 11vw;
    transition: 0.1s;
}

.pages img:active {
    filter: brightness(0.7);
}

.pages {
    display: flex;
    width: 65vw;
    justify-content: center;
    margin-bottom: 5vw;
}

.pages div {
    height: 15vw;
}

footer p:first-of-type {
    color: #B7B9C8;
    font-family: "Roboto";
    text-align: center;
    font-size: 4vw;
    width: 70vw;
    font-weight: 300;
}

footer p:last-of-type {
    margin-top: 0.2vw;
    color: #618AAE;
    font-family: "Roboto";
    text-align: center;
    font-size: 3.5vw;
    width: 80vw;
    font-weight: 300;
    margin-bottom: 15vw;
}