/*default style*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    background-color: #314455;
}

img {
    border-style: none;
    max-width: 100%;
}
/*default style*/
/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 850px){
    /*header*/
    .header {
        background-color: #ECEFF4;
        max-width: 100%;
        height: 44px;
    }
    
    .banner {
        height: 100%;
        z-index: 50;
        
    }

    .menu-button {
        user-select: none;
        display: flex;
        position: absolute;
        margin-top: 0.32em;
        margin-left: 0.4em;
        width: 15vw;
        height: 10vw;
        border-radius: 9px;
        background-color: #ECEFF4;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 40;
    }
    
    .menu-button:active {
        filter: brightness(0.8);
    }
    
    .menu-button div {
        background-color: #3B4252;
        height: 1vw;
        width: 6vw;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        border-radius: 2px;
    }
    
    .flex-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    .flex-container-header {
        display:flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0.5em;
        border-bottom: 1px solid #4C566A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 50;
    }
    
    .flex-container-header h1 {
        display: inline;
        position: absolute;
        top: 0em;
        font-family: "Roboto";
        font-size: 5vw;
        padding-top: 3vw;
        color: #3B4252;
        z-index: 30;
        width: 100%;
        height: 11.5vw;
        text-align: center;
        background-color: #ECEFF4;
    }
    /*header*
    
    /*body*/
    .title-container {
        display: flex;
        width: 100%;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30vh;
    }

    .flex-container h1 {
        font-family: "Roboto";
        text-align: center;
        height: 20%;
        font-size: 10vw;
        font-weight: 300;
        color: #E5E9F0;
        text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        

    }

    .subtitle {
        display: flex;
        justify-content: center;
        margin: 0.2em;
    }

    .subtitle div:first-of-type {
        background-color: #E5E9F0;
        align-self: center;
        width: 15vw;
        height: 2px;
        margin-right: 0.5em;
        border-radius: 2px;
        
    }
    .subtitle div:last-of-type {
        background-color: #E5E9F0;
        align-self: center;
        width: 15vw;
        height: 2px;
        margin-left: 0.5em;
        border-radius: 2px;
    }

    .subtitle-text {
        display: inline;
        text-align: center;
        font-family: "Roboto";
        font-size: 4vw;
        font-weight: 300;
        color: #E5E9F0;
    }
    .about-me{
        display: flex;
        max-width: 100%;
        max-height: 100%;
        width: 89vw;
        height:65vw;
        border: 1px solid #E5E9F0;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin: 1em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .about-me p {
        text-align: center;
        font-size: 5.1vw;
        font-family: "Roboto Mono";
        color: #E5E9F0;
    }

    .tech-scroller {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vw;
        justify-content: center;
        align-items: center;
        margin-top: 4.7em;
    }

    .backside-scroller {
        display: flex;
        margin-top: -50vw;
        width: 100%;
        height: 50vw;
        justify-content: center;
    }
    
    .link {
        height: 1em;
        width: 1em;
        position: absolute;
        top: 157vw
    }

    .scroller-head {
        z-index: 1;
        display: flex;
        background-color: #7C6272;
        border-radius: 30px;
        margin-top: -6vw;
        width: 60vw;
        height: 11vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: center;
        align-items: center;
    }
    
    .scroller-head p {
        text-align: center;
        font-family: "Roboto";
        color: #E5E9F0;
        font-size: 5vw;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .scroller-background {
        
        position: absolute;
        border-radius: 7vw;
        background-color: #644E5B;
        width: 80vw;
        height: 67vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    /*slider*/
    .swiper-pagination .swiper-pagination-bullet {
        height: 2vw;
        width: 2vw;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        border-radius: 100%;
        color: #282D38; /*orange color*/
        background-color: #282D38; /*orange color*/
        height: 2vw;
        width: 2vw;
        opacity: 1;
    }

    .divisor {
        position: relative;
        margin-top: -45vw;
        height: 15vw;
        width: 100%;
        display: flex;
        
    }
    
    .swiper-container {
        width: 100%;
        height: 59vw;
        display: flex;
    }
    
    .swiper-slide {
        position: relative;
        top:1.5em;
        display: flex;
        height: 48vw;
    }

    .swiper-slide img {
        display: inline;
        margin: 0 auto;
        height: 36vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        transition: 0.2s;
    }

    .swiper-slide-active :active{
        filter: brightness(0.5);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }

    .gitch {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90vw;
        margin-top: -55vw;
    }

    .github-contact {
        display: flex;
        position: absolute;
        width: 100%;
        height: 300vw;
        margin-top: 5vw;
        justify-content: center;
    }

    .github-contact img {
        z-index: 10;
        height: 65vw;
        margin-top: 100vw
    }

    .github-contact div {
        user-select: none;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #24292B;
        height: 17vw;
        width: 60%;
        z-index: 10;
        position: absolute;
        margin-top: 181vw;
        border: 2px solid #E5E9F0;
        border-radius: 10vw;
        font-family: "Montserrat", sans-serif;
        font-size: 4vw;
        color: #E5E9F0;
        font-weight: 600;
        box-shadow: 0px 5px 4px t;
        transition: 0.2s;
    }

    .github-contact div:active{
        filter: brightness(0.8);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }

    #find-me {
        position: relative;
        top: 65vw;
        height: 1em;
    }

    .github-svg {
        position: absolute;
        margin-top: 0vw;
        top: 5vw;
        width: 100%;
        height: 100%;
    }

    .itch-contact {
        display: flex;
        position: absolute;
        margin-top: 175vw;
        width: 100%;
        height: 300vw;
        justify-content: center;
    }

    .itch-contact img {
        z-index: 10;
        height: 57vw;
        margin-top: 107vw
    }

    .itch-contact div {
        user-select: none;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #DF5252;
        height: 17vw;
        width: 60%;
        z-index: 10;
        position: absolute;
        margin-top: 178vw;
        border: 2px solid #E5E9F0;
        border-radius: 10vw;
        font-family: "Montserrat", sans-serif;
        font-size: 4vw;
        color: #E5E9F0;
        font-weight: 600;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        transition: 0.2s;
    }
    
    .itch-contact div:active {
        filter: brightness(0.8);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    
    .itch-svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .blog {
        display: flex;
        position: absolute;
        margin-top: 350vw;
        width: 100%;
        height: 300vw;
        justify-content: center;
    }

    .blog h1 {
        position: absolute;
        z-index: 10;
        font-size: 5vw;
        font-family: 'Source Serif Pro', serif;
        margin-top: 120vw;
        font-weight: 400;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        color: #000000;
    }
    
    .blog p {
        width: 90vw;
        position: absolute;
        text-align: center;
        z-index: 10;
        font-size: 4vw;
        font-weight: 200;
        font-family: 'Source Serif Pro', serif;
        margin-top: 137vw;
        color: #000000;
    }

    .blog div {
        user-select: none;
        transition: 0.2s;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        height: 17vw;
        font-weight: 400;
        width: 60%;
        z-index: 10;
        position: absolute;
        margin-top: 170vw;
        border: 2px solid #000000;
        border-radius: 10vw;
        font-family: "Source Serif Pro", sans-serif;
        font-size: 4vw;
        color: #000000;
        text-decoration: none;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    }

    .blog div:active {
        filter: brightness(0.8);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    
    .blog-svg {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
    }
/*navbar*/
.navegation {
    margin-top: 0.2vw;
    top: 9vw;
    width: 100%;
    height: 0;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ECEFF4; /* Black*/
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidebar */
    justify-content: center;
    border-radius: 0 0 3vw 3vw;
}

.nav-buttons {
    outline: none;
    z-index: 21;
    text-decoration: none;
    user-select: none;
    margin: 0;
    padding: 0;
    height:0;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 0;
    background-color: #ECEFF4;
    border: 0 solid #ffffff;
    border-radius: 4vw;
    color: #4C566A;
    font-family: "Montserrat", sans-serif;
    transition: 0.18s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#button-know:active {
    filter: brightness(0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#button-find:active {
    filter: brightness(0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#button-blog:active {
    filter: brightness(0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#button-cont:active {
    filter: brightness(0.7);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
/*navbar*/

/*slider*/
}
/*tablets screen*/
@media (min-width: 520px) {
    .swiper-slide { 
        position: relative;
        top:3em;
        display: flex;
        height: 50vw;
    }
    .swiper-slide img {
        height: 34.5vw;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
    }

    .swiper-container {
        width: 100%;
        height: 58vw;
        display: flex;
    }
    .swiper-slide-active :active{
        filter: brightness(0.5);
    }
}
/*body*/
