/*default style*/
* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    background-color: #15161C;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

img {
    border-style: none;
    max-width: 100%;
}
/*default style*/

.bg {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section-1 {
    scroll-snap-align: start;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #1C1D25;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1 h1 {
    margin-top: -10vw;
    color: #ffffff;
    font-family: "Oswald";
    font-size: min(15vw, 110px);
    font-weight: 400;
    -webkit-text-stroke: 1px #ffffff;
    margin-bottom: -3.3vw;
}

.section-1 h2{
    color: #DC486A;
    font-family: "Oswald";
    font-weight: 400;
    font-size: min(7.5vw, 80px);
}

.section-1 div {
    transition: 0.2s;
    margin-top: 70vw;
    margin-bottom: -60vw;
    bottom: 3vh;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8vw;
    font-family: "Roboto Mono";
    color: #6E7392;
}

.section-2 {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2 h1 {
    margin-top: -40vh;
    color: #ffffff;
    font-family: "Oswald";
    font-size: min(8.5vw, 90px);
    font-weight: 400;
    -webkit-text-stroke: 1px #ffffff;
    margin-bottom: -3.3vw;
}

.section-2 img {
    margin-top: 8vh;
    margin-bottom: 5vh;
    height: 30vh;
}

.section-2 p {
    margin-top: 0;
    text-align: center;
    display: inline;
    font-family: "Roboto Mono";
    color: #DBDCE4;
    font-size: min(4vw, 30px);
    width: 88%;
}

.section-2 span {
    font-size:5.5vw;
    color:#DC486A;
}


.section-2-div{
    transition: 0.2s;
    margin-top: 30vw;
    margin-bottom: -70vw;
    font-family: "Roboto Mono";
    color: #6E7392;
}

.read-more {
    margin-top: 5vh;
    margin-bottom: -10vh;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    align-items: center;
    font-family: "Roboto Mono";
    color: #DC486A;
    border: 0.5vw solid #DC486A;
    border-radius: 2vw;
    height: 7vh;
    width: 35vw;
}

.section-3 {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3 div{
    transition: 0.2s;
    font-family: "Roboto Mono";
    color: #6E7392;
    bottom: -197vh;
}

.section-3 div img {
    height: 4vw;
    align-self: center;
}

.section-3 div:active {
    color:#1C1D25;
    filter: brightness(0.6);
}

.section-4 {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-4 div{
    transition: 0.2s;
    bottom: -297vh;
    font-family: "Roboto Mono";
    color: #6E7392;
}

footer {
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
